<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이파일은 sql 명령만 보관하는파일  -->
<!-- 찾아올수 있도록 namespace 지정 -->
<mapper namespace="emailcert">
	<insert id="insert" parameterType="String">
		insert into emailcert values(
			emailcert_seq.nextval , #{emailcert} , sysdate
		)
	</insert>
	
	<select id="get" parameterType="String" resultType="EmailCertDto">
		select * from emailcert where seller_email_cert = #{email_cert_no}
	</select>
	
	<delete id="delete" parameterType="String">
		delete emailcert where seller_email_cert = #{email_cert_no}
	</delete>
	
	<delete id="clear">
		<![CDATA[
			delete emailcert
				where seller_email_when < sysdate - 5 / 24 / 60
		]]>
	</delete>
	
	
	
</mapper>