<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이파일은 sql 명령만 보관하는파일  -->
<!-- 찾아올수 있도록 namespace 지정 -->
<mapper namespace="Mapper에 따라이름 지정">

	<insert id="insert">
		insert into member values(
		member_seq.nextval,
		#{email}, #{pw}, #{name}, #{birth}, #{phone}, #{question}, #{answer}, sysdate, '일반', sysdate)
	</insert>
	
	<select id="login" parameterType="memberDto" resultType="memberDto">
		select * from member where email = #{email} and pw = #{pw}
	</select>
	
	<select id="info" parameterType="String" resultType="memberDto">
		select * from member where email = #{ok}
	</select>
	
	<delete id="delete" parameterType="String">
		delete member where email = #{ok}
	</delete>
	
	<update id="change" parameterType="memberDto">
		update member
		set phone = #{phone}, question = #{question}, answer = #{answer}
		where email = #{email}
	</update>
</mapper>