<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이파일은 sql 명령만 보관하는파일  -->
<!-- 찾아올수 있도록 namespace 지정 -->
<mapper namespace="hotel">
	<insert id="regist" parameterType="hotelDto">
		insert into hotel values(
			#{hotel_no}, #{hotel_name}, #{hotel_tel}, #{hotel_zip_code}, 
			#{hotel_basic_addr}, #{hotel_detail_addr},#{hotel_longitude}, 
			#{hotel_latitude}, #{hotel_content}, #{hotel_star}, #{hotel_parking}, 
			#{hotel_fitness},#{hotel_pool}, #{hotel_sauna}, #{hotel_lounge}, 
			#{hotel_bbq},#{hotel_cafe}, #{hotel_convenience_store}, 
			#{hotel_karaoke}, #{hotel_internet},#{seller_no}, #{hotel_title}
		)
	</insert>
	
	<select id="list" parameterType="int" resultType="hotelDto">
		select * from hotel where seller_no = #{seller_no}
	</select>
	
	<select id="search_list" resultType="hotelListVo">
		select 
		h.hotel_no, H.hotel_name, H.hotel_tel, H.hotel_zip_code, H.hotel_basic_addr, H.hotel_title, H.hotel_star,H.hotel_parking, H.hotel_fitness,H.hotel_pool,H.hotel_sauna,H.hotel_lounge,H.hotel_bbq,H.hotel_cafe,H.hotel_convenience_store,H.hotel_karaoke,H.hotel_internet,
		count(R.room_name) room_cnt, max(R.room_price) max_price
		from 
		hotel H
		inner join Room R on H.hotel_no = R.hotel_no
		group by h.hotel_no, H.hotel_name, H.hotel_tel, H.hotel_zip_code, H.hotel_basic_addr, H.hotel_title, H.hotel_star,H.hotel_parking, H.hotel_fitness,H.hotel_pool,H.hotel_sauna,H.hotel_lounge,H.hotel_bbq,H.hotel_cafe,H.hotel_convenience_store,H.hotel_karaoke,H.hotel_internet
		order by max_price desc
	</select>
	
		<!-- 시퀀스 번호 -->
	<select id="seq" resultType="int">
		select hotel_seq.nextval from dual
	</select>
	
</mapper>