<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이파일은 sql 명령만 보관하는파일  -->
<!-- 찾아올수 있도록 namespace 지정 -->
<mapper namespace="hotel">
	<insert id="regist" parameterType="hotelDto">
		insert into hotel values(
			hotel_seq.nextval, #{hotel_name}, #{hotel_tel}, #{hotel_zip_code}, 
			#{hotel_basic_addr}, #{hotel_detail_addr},#{hotel_longitude}, 
			#{hotel_latitude}, #{hotel_content}, #{hotel_star}, #{hotel_parking}, 
			#{hotel_fitness},#{hotel_pool}, #{hotel_sauna}, #{hotel_lounge}, 
			#{hotel_bbq},#{hotel_cafe}, #{hotel_convenience_store}, 
			#{hotel_karaoke}, #{hotel_internet},#{seller_no}, #{hotel_title}
		)
	</insert>
	
	<select id="list" parameterType="String" resultType="hotelDto">
		select * from hotel where seller_id = #{seller_id}
	</select>
	
</mapper>