<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이파일은 sql 명령만 보관하는파일  -->
<!-- 찾아올수 있도록 namespace 지정 -->
<mapper namespace="hotel">
	<insert id="regist" parameterType="hotelDto">
		insert into hotel values(
			#{hotel_no}, #{hotel_name}, #{hotel_tel}, #{hotel_zip_code}, 
			#{hotel_basic_addr}, #{hotel_detail_addr},#{hotel_longitude}, 
			#{hotel_latitude}, #{hotel_content}, #{hotel_star}, #{hotel_parking}, 
			#{hotel_fitness},#{hotel_pool}, #{hotel_sauna}, #{hotel_lounge}, 
			#{hotel_bbq},#{hotel_cafe}, #{hotel_convenience_store}, 
			#{hotel_karaoke}, #{hotel_internet},#{seller_no}, #{hotel_title}
		)
	</insert>
	
	<select id="list" parameterType="int" resultType="hotelDto">
		select * from hotel where seller_no = #{seller_no}
	</select>
	
	<select id="search_list" parameterType="h_search_vo" resultType="hotelListVo">
		select 
		h.hotel_no, H.hotel_name, H.hotel_content, H.hotel_tel, H.hotel_zip_code, H.hotel_basic_addr, H.hotel_title, H.hotel_star,H.hotel_parking, H.hotel_fitness,H.hotel_pool,H.hotel_sauna,H.hotel_lounge,H.hotel_bbq,H.hotel_cafe,H.hotel_convenience_store,H.hotel_karaoke,H.hotel_internet,
		count(R.room_name) room_cnt, min(R.room_price) min_price, max(R.room_price) max_price, max(R.room_people) max_people, E.seller_blacklist
		from 
		hotel H
		inner join Room R on H.hotel_no = R.hotel_no
		inner join seller E
		on H.seller_no = E.seller_no
		left outer join reserve S 
		on R.room_no = S.reserve_room_no
		where
		R.room_people >= #{people} and 
		(reserve_in >= to_date(#{check_out}, 'YYYY/MM/DD')
		or
		<![CDATA[
		reserve_out <= to_date(#{check_in}, 'YYYY/MM/DD')
		]]>
		or reserve_in is null or reserve_out is null)
		
		group by h.hotel_no, H.hotel_name, H.hotel_content, H.hotel_tel, H.hotel_zip_code, H.hotel_basic_addr, H.hotel_title, H.hotel_star,H.hotel_parking, H.hotel_fitness,
		                H.hotel_pool,H.hotel_sauna,H.hotel_lounge,H.hotel_bbq,H.hotel_cafe,H.hotel_convenience_store,H.hotel_karaoke,H.hotel_internet, E.seller_blacklist
		having
		H.hotel_basic_addr like '%' || #{region} || '%' and
		<if test="parking != null ">
		H.hotel_parking = 'Y' and
		</if>
		<if test="fitness != null">
		H.hotel_fitness = 'Y' and
		</if>
		<if test="pool != null">
		H.hotel_pool = 'Y' and
		</if>
		<if test="sauna != null ">
		H.hotel_sauna = 'Y' and
		</if>
		<if test="lounge != null">
		H.hotel_lounge = 'Y' and
		</if>
		<if test="bbq != null ">
		H.hotel_bbq = 'Y' and
		</if>
		<if test="cafe != null ">
		H.hotel_cafe = 'Y' and
		</if>
		<if test="conveni != null ">
		H.hotel_convenience_store = 'Y' and
		</if>
		<if test="karaoke != null ">
		H.hotel_karaoke = 'Y' and
		</if>
		<if test="internet != null ">
		H.hotel_internet = 'Y' and
		</if>
		max(R.room_people) >= #{people} and
		E.seller_blacklist = 'N'
		order by max_price desc
	</select>
	
		<!-- 시퀀스 번호 -->
	<select id="seq" resultType="int">
		select hotel_seq.nextval from dual
	</select>
	
	<delete id="delete" parameterType="int">
		delete hotel where hotel_no = #{hotel_no}
	</delete>
	
	<select id="get" parameterType="int" resultType="hotelDto">
		select * from hotel where hotel_no = #{hotel_no}
 	</select>
 	
 		<!-- 호텔 수정 -->
	<update id="edit" parameterType="hotelDto">
		update hotel 
			set hotel_name = #{hotel_name}, hotel_tel=#{hotel_tel},hotel_zip_code = #{hotel_zip_code}, 
			hotel_basic_addr = #{hotel_basic_addr}, hotel_detail_addr = #{hotel_detail_addr}, 
			hotel_longitude = #{hotel_longitude}, hotel_latitude = #{hotel_latitude}, 
			hotel_content = #{hotel_content}, hotel_star = #{hotel_star}, hotel_parking = #{hotel_parking},
			hotel_fitness = #{hotel_fitness}, hotel_pool = #{hotel_pool}, hotel_sauna = #{hotel_sauna},
			hotel_lounge = #{hotel_lounge}, hotel_bbq = #{hotel_bbq}, hotel_cafe = #{hotel_cafe},
			hotel_convenience_store = #{hotel_convenience_store}, hotel_karaoke = #{hotel_karaoke}, 
			hotel_internet = #{hotel_internet}, hotel_title = #{hotel_title}
		where hotel_no = #{hotel_no}
	</update>
	
	<select id="getNo" parameterType="int" resultType="hotelDto">
		
		select * from hotel where seller_no = #{seller_no} and rownum=1
		
	</select>
	
	<select id="getNoList" parameterType="int" resultType="hotelDto">
		select * from hotel where seller_no = #{seller_no}
	</select>
	
<!-- 호텔 월별 건수 구하기 -->
	<select id="sales" parameterType="int" resultType="hotelSalesVO">
		select to_char(RV.reserve_in,'YYYY/MM') monthly, count(reserve_no) count
		    from room R 
		        inner join reserve RV on
		            R.room_no = RV.reserve_room_no
		            where R.hotel_no = #{hotel_no}
		    group by to_char(RV.reserve_in,'YYYY/MM')
		    order by monthly asc
	</select>  
	
<!-- 	호텔 월별 매출 구하기 -->
	<select id="hotelsalesPrice" parameterType="int" resultType="hotelSalesVO">
		select distinct
		    to_char(RV.reserve_in,'YYYY/MM') monthly, 
		    sum(count(RV.reserve_no) * RV.reserve_price) over(partition by to_char(RV.reserve_in,'YYYY/MM') order by R.hotel_no asc) total, R.hotel_no
		    from room R 
		        inner join reserve RV on
		            R.room_no = RV.reserve_room_no
		    where 
				R.hotel_no = #{hotel_no} 
				and 
				RV.reserve_ok = '예약'
		    group by to_char(RV.reserve_in,'YYYY/MM'),reserve_price, hotel_no
		    order by monthly asc
	</select>

	
<!-- 	호텔 전체 월별 매출 구하기 -->
	<select id="salesPrice" parameterType="list" resultType="hotelSalesVO">
		select distinct
		    to_char(RV.reserve_in,'YYYY/MM') monthly, 
		    sum(count(RV.reserve_no) * RV.reserve_price) over(partition by to_char(RV.reserve_in,'YYYY/MM') order by R.hotel_no asc) total, R.hotel_no
		    from room R 
		        inner join reserve RV on
		            R.room_no = RV.reserve_room_no
		    where 
				RV.reserve_ok = '예약'
				<if test="list != null">
					and 
					<foreach collection="list" item="hotel" separator="or">
						R.hotel_no = #{hotel.hotel_no}
					</foreach> 
				</if>
		    group by to_char(RV.reserve_in,'YYYY/MM'),reserve_price, hotel_no
		    order by monthly asc
	</select>
	
<!-- 	호텔별 해당 월 매출 건수 구하기 -->
	<select id="monthSale" parameterType="int" resultType="hotelSalesVO">
		 select to_char(RV.reserve_in,'YYYY/MM/DD') monthly, count(RV.reserve_no) count
		    from room R 
		        inner join reserve RV on
		            R.room_no = RV.reserve_room_no
		            where R.hotel_no = #{hotel_no} and to_char(RV.reserve_in,'MM') = to_char(sysdate,'MM')
		    group by to_char(RV.reserve_in,'YYYY/MM/DD'), reserve_hotel_no,to_char(RV.reserve_in,'MM')
		    order by monthly asc
	</select>
	
<!-- 	호텔별 월별 매출 구하기 -->
	<select id="monthSalePrice" parameterType="int" resultType="hotelSalesVO">
		select distinct
		    to_char(RV.reserve_in,'YYYY,MM,DD') monthly, 
		    sum(count(RV.reserve_no) * RV.reserve_price) over(partition by to_char(RV.reserve_in,'YYYY,MM,DD') order by R.hotel_no asc) total
		    from room R 
		        inner join reserve RV on
		            R.room_no = RV.reserve_room_no
		            where R.hotel_no = #{hotel_no} and to_char(RV.reserve_in,'MM') = to_char(sysdate,'MM') and RV.reserve_ok = '예약'
		    group by to_char(RV.reserve_in,'YYYY,MM,DD'),reserve_price, hotel_no, to_char(RV.reserve_in,'MM')
		    order by monthly asc
	</select>
	
	<!-- 해당 월 꺼내오기 -->
	<select id="this_month" resultType="String">
		select distinct to_char(sysdate,'MM') month from hotel
	</select>
	
	<!-- 호텔별 예약 고객 명단 가져오기 -->
	<select id="getReserver" parameterType="int" resultType="reserverListVO">
		select * 
		    from room R
		    inner join reserve RV on 
		        R.room_no = RV.reserve_room_no
		    where R.hotel_no = #{hotel_no}
	</select>
</mapper>