<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
 <mapper namespace="hotelFile">
 
 	<!-- 호텔 사진 등록하기 -->
 	<insert id="regist" parameterType="hotelFileDto">
 		insert into h_file values(#{hotel_no}, h_file_seq.nextval, #{h_file_name}, #{h_file_type})
 	</insert>
 	
 	<!-- 호텔 이미지 리스트 -->
	<select id="getlist" parameterType="int" resultType="hotelFileDto">
		select * from h_file where hotel_no = #{hotel_no}
	</select>
	
	<!-- 호텔 사진 상세보기 -->
 	<select id="get" parameterType="int" resultType="hotelFileDto">
		select * from h_file where h_file_no = #{h_file_no}
 	</select>
 	
 	<!-- 호텔 사진 삭제 -->
 	<delete id="delete" parameterType="int">
 		delete h_file where h_file_no = #{h_file_no}
 	</delete>
 	
 		<!-- 호텔 썸네일파일 가져오기 -->
 	<select id="getTitle" parameterType="String" resultType="hotelFileDto">
		select * from h_file where h_file_name = #{h_file_name}
 	</select>
 	
 	 	<!-- 호텔 썸네일 삭제 -->
 	<delete id="deleteTitle" parameterType="String">
 		delete h_file where h_file_name = #{h_file_name}
 	</delete>
 	
 	                                                                                
 </mapper>