<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 위까지 필요파일 -->
<configuration>
	<properties/>
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>

	<typeAliases>
		<!-- playerDto 클래스에 playerDto라는 별칭을 부여하겠다.
        	하단 참고하여 작성-->
	<!-- ex) <typeAlias type="spring.test.sts14.entity.PlayerDto" alias="playerDto"/> -->
		<typeAlias type="com.pick.hotels.entity.SellerDto" alias="sellerDto"/>
		<typeAlias type="com.pick.hotels.entity.MemberDto" alias="memberDto"/>
		<typeAlias type="com.pick.hotels.entity.NoticeDto" alias="noticeDto"/>
		<typeAlias type="com.pick.hotels.entity.CertDto" alias="certDto"/>
		<typeAlias type="com.pick.hotels.entity.EmailCertDto" alias="emailcertDto"/>
		<typeAlias type="com.pick.hotels.entity.ReviewDto" alias="reviewDto"/>
		<typeAlias type="com.pick.hotels.entity.HotelDto" alias="hotelDto"/>
		<typeAlias type="com.pick.hotels.entity.RegionDto" alias="regionDto"/>
		<typeAlias type="com.pick.hotels.entity.AttractionDto" alias="attractionDto"/>
		<typeAlias type="com.pick.hotels.entity.AttractionFileDto" alias="attractionFileDto"/>
		<typeAlias type="com.pick.hotels.entity.RestaurantDto" alias="restaurantDto"/>
		<typeAlias type="com.pick.hotels.entity.RestaurantFileDto" alias="restaurantFileDto"/>
		<typeAlias type="com.pick.hotels.entity.CouponDto" alias="couponDto"/>
		<typeAlias type="com.pick.hotels.entity.CouponHistoryDto" alias="couponHistoryDto"/>
		<typeAlias type="com.pick.hotels.entity.ReserveDto" alias="reserveDto"/>
		<typeAlias type="com.pick.hotels.entity.WishDto" alias="wishDto"/>
	</typeAliases>
</configuration>