<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
 <mapper namespace="partner">
 	<insert id="regist" parameterType="partnerDto">
 		insert into partner values (
			#{hotel_no}, #{partner_no}, #{partner_name}, #{partner_longitude}, #{partner_latitude},
			#{partner_tel}, #{partner_content}, '승인대기', #{partner_zip_code}, #{partner_basic_addr},
			#{partner_detail_addr}
 		)
 	</insert>   
 	
 	<!-- 시퀀스 번호 -->
	<select id="seq" resultType="int">
		select partner_seq.nextval from dual
	</select>       
	
	<select id="get" parameterType="int" resultType="partnerDto">
		select * from partner where partner_no = #{partner_no}
	</select> 
	
	<!-- 제휴 삭제 -->
	<delete id="delete" parameterType="int">
		delete partner where partner_no = #{partner_no}
	</delete>
	
	<!-- 사진 한장만 가지고 오는 제휴 리스트 -->
	<select id="list" parameterType="int" resultType="partnerListVO">
			SELECT 
				hotel_no, partner_no, p_file_no, partner_name, partner_longitude, partner_latitude, 
				p_file_name, partner_content, partner_zip_code, partner_basic_addr, partner_detail_addr,
				partner_tel, partner_type
			FROM (
			    SELECT 
			        P.hotel_no, P.partner_no, PF.p_file_no, P.partner_name, P.partner_longitude, 
			        P.partner_latitude, PF.p_file_name, P.partner_content, P.partner_zip_code, P.partner_basic_addr, 
			        P.partner_detail_addr, P.partner_tel,P.partner_type,
			        ROW_NUMBER() OVER(PARTITION BY P.partner_no ORDER BY PF.p_file_no ASC) as rn
			FROM 
			        partner P inner join p_file PF on P.partner_no = PF.partner_no
			) WHERE rn=1 and hotel_no= #{hotel_no}
	</select>
	
	
	<!-- 관리자 -->
	
	<!-- 제휴 승인 대기 리스트 -->
	<select id="waiting_list" parameterType="map" resultType="partnerListVO">
		SELECT 
			*
			FROM (
			    SELECT 
			        P.hotel_no, P.partner_no, PF.p_file_no, P.partner_name, PF.p_file_name, P.partner_zip_code, P.partner_basic_addr, 
			        P.partner_detail_addr, P.partner_type,
			        ROW_NUMBER() OVER(PARTITION BY P.partner_no ORDER BY PF.p_file_no ASC) as rn
			FROM 
			        partner P inner join p_file PF on P.partner_no = PF.partner_no
			) WHERE hotel_no= #{hotel_no} and partner_type = '승인대기'
	</select>
	
	<!-- 제휴 승인 완료 리스트 -->
	<select id="complete_list" parameterType="map" resultType="partnerListVO">
		SELECT 
			*
			FROM (
			    SELECT 
			        P.hotel_no, P.partner_no, PF.p_file_no, P.partner_name, PF.p_file_name, P.partner_zip_code, P.partner_basic_addr, 
			        P.partner_detail_addr, P.partner_type,
			        ROW_NUMBER() OVER(PARTITION BY P.partner_no ORDER BY PF.p_file_no ASC) as rn
			FROM 
			        partner P inner join p_file PF on P.partner_no = PF.partner_no
			) WHERE hotel_no= #{hotel_no} and partner_type = '승인완료'
	</select>
	
	<!-- 제휴 승인 거절 리스트 -->
	<select id="refuse_list" parameterType="map" resultType="partnerListVO">
		SELECT 
			*
			FROM (
			    SELECT 
			        P.hotel_no, P.partner_no, PF.p_file_no, P.partner_name, PF.p_file_name, P.partner_zip_code, P.partner_basic_addr, 
			        P.partner_detail_addr, P.partner_type,
			        ROW_NUMBER() OVER(PARTITION BY P.partner_no ORDER BY PF.p_file_no ASC) as rn
			FROM 
			        partner P inner join p_file PF on P.partner_no = PF.partner_no
			) WHERE hotel_no= #{hotel_no} and partner_type = '승인거절'
	</select>
	
	<!-- 제휴 리스트  카운트 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from partner
		<if test="type != null and keyword != null">
			where ${type} like '%' || #{keyword} || '%'
		</if>
	</select>
	
	<!-- 제휴 승인 상태 수정 -->
	<update id="edit_partner" parameterType="partnerDto">
		update partner
			set
				partner_type = #{partner_type}
			where
				partner_no = #{partner_no}
	</update>
	
 </mapper>