<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
<mapper namespace="reserve">

	<!-- 예약하기 -->
	<insert id="regist" parameterType="reserveDto">
		insert into reserve values(
		#{reserve_no}, #{reserve_member_no}, #{reserve_hotel_no}, #{reserve_room_no},${reserve_people}, #{reserve_name}, #{reserve_phone}, 
		sysdate, null, #{reserve_in}, #{reserve_out},'예약', #{reserve_price}, #{reserve_pay_type}, #{reserve_coupon_use}
		)
	</insert>
	
	<select id="get" parameterType="map" resultType="reserveDto">
		select * from reserve where reserve_member_no = #{member_no}  and reserve_no= #{reserve_no}
	</select>
	
	<select id="time" parameterType="reserveDto" resultType="int">
		select reserve_out - reserve_in from reserve where reserve_no = #{reserve_no}
	</select>
	
	<select id="list" parameterType="int" resultType="reserveVO">
	<![CDATA[
	    select *
			from 
    		reserve R
			inner join hotel H on
			R.reserve_hotel_no = H.hotel_no
			where R.reserve_member_no = #{member_no}
            and sysdate - 60 <=reserve_out and reserve_ok = '예약'
            order by reserve_no desc
            ]]>
	</select>
	
	<select id="cancel_list" parameterType="int" resultType="reserveVO">
		<![CDATA[
	    select *
			from 
    		reserve R
			inner join hotel H on
			R.reserve_hotel_no = H.hotel_no
			where R.reserve_member_no = #{member_no}
            and sysdate - 60 <=reserve_out and reserve_ok = '취소'
            order by reserve_no desc
            ]]>
	</select>
	
	<select id="review_write" parameterType="map" resultType="reserveVo">
		select *
		from reserve R
		inner join hotel H on
		R.reserve_hotel_no = H.hotel_no
		where R.reserve_member_no = #{member_no} and R.reserve_no = #{reserve_no} 
	</select>
	
	<update id="change" parameterType="reserveDto">
		update reserve
			set
				reserve_ok = '취소'
			where
				reserve_no = #{reserve_no}	
	</update>
	
	<select id="count" parameterType="int" resultType="int">
		select count (*) from reserve where reserve_member_no = #{reserve_member_no}
	</select>
	
	
	<!-- 관리자 -->
	<!-- 월별 전체 호텔 매출 -->
	<select id="total" resultType="reserveTotalVO">
	 select 
	    sum(reserve_price) total , to_char(reserve_in,'YYYY,MM') monthly 
	    from reserve
	    group by to_char(reserve_in,'YYYY,MM') 
	    order by monthly asc
	</select>
	
	
	
<!-- 	결제시 시퀀스 생성 -->
	<select id="seq_no" resultType="int">
		select reserve_seq.nextval from dual
	</select>
	
</mapper>