<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
 <mapper namespace="restaurant">
 
 	<!-- 레스토랑 등록하기 -->
 	<insert id="regist" parameterType="restaurantDto">
 		insert into restaurant values(#{restaurant_no}, #{restaurant_name}, #{restaurant_postcode}, #{restaurant_addr1}, #{restaurant_addr2}, #{restaurant_lat}, #{restaurant_lng}, #{restaurant_info})
 	</insert>
 	
 	<!-- 레스토랑 상세보기 -->
 	<select id="get" parameterType="int" resultType="restaurantDto">
		select * from restaurant where restaurant_no = #{restaurant_no}
 	</select>
 	
 	<!-- 레스토랑 삭제 -->
 	<delete id="exit" parameterType="int">
 		delete restaurant where restaurant_no = #{restaurant_no}
 	</delete>
 	
 	<!-- 레스토랑 리스트 -->
	<select id="list" parameterType="map" resultType="restaurantDto">
		<!-- 부등호 등 태그 형식에서 사용 불가한 글자를 허용하는 지역 생성 -->
		<![CDATA[
		select *  from(
    		select rownum r, a.* from(select * from restaurant 
		]]>
			<if test="type != null and keyword != null">
			where
				${type} like '%' || #{keyword} || '%'
			</if>
		<![CDATA[
			 order by restaurant_no desc )a)  where r >= #{start} and r <= #{end}
		]]>
	</select>
	
	<!-- 목록/ 검색일 경우 각각의 게시글 수를 구하는 거 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from restaurant
		<if test="type != null and keyword != null">
			where ${type} like '%' || #{keyword} || '%'		
		</if>
	</select>
	
	<!-- 시퀀스 번호 -->
	<select id="seq" resultType="int">
		select restaurant_seq.nextval from dual
	</select>
	
	<!-- 레스토랑 수정 -->
	<update id="edit" parameterType="restaurantDto">
		update restaurant 
			set restaurant_name = #{restaurant_name}, restaurant_postcode = #{restaurant_postcode}, restaurant_addr1 = #{restaurant_addr1}, restaurant_addr2 = #{restaurant_addr2}, restaurant_lat = #{restaurant_lat}, restaurant_lng = #{restaurant_lng}, restaurant_info = #{restaurant_info}
		where restaurant_no = #{restaurant_no}
	</update>
	
	<!-- 레스토랑 리스트에서 수정 -->
	<delete id="delete" parameterType="int">
		delete restaurant where restaurant_no = #{restaurant_no}
	</delete>
 	                                                                                
 </mapper>