<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
<mapper namespace="review">
	<insert id="write" parameterType="reviewDto">
		insert into review values(
		review_seq.nextval, #{review_member_no}, #{review_hotel}, #{review_reserve}, 
		5, #{review_content}, sysdate)
	</insert>
	
	<select id="check" parameterType="int" resultType="reviewDto">
		select * from review where review_reserve = #{reserve_no}
	</select>
</mapper>