<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
 <mapper namespace="room">
 	<insert id="regist" parameterType="roomDto">
 		insert into room values (
 		#{hotel_no}, #{room_no}, #{room_name}, #{room_content}, #{room_price},
 		#{room_breakfast}, #{room_bed}, #{room_people}, #{room_spa}, #{room_conditioner},
 		#{room_tv}, #{room_refrigerator}, #{room_shower_room}, #{room_bath},
 		#{room_hair}, #{room_cookoo}, #{room_smoking}, #{room_cooking}
 		)
 	</insert>   
 	
 	<!-- 시퀀스 번호 -->
	<select id="seq" resultType="int">
		select room_seq.nextval from dual
	</select>     
	
	<!-- 방정보  -->
	<select id="get" parameterType="int" resultType="roomDto">
		select * from room where room_no = #{room_no}
	</select>                
	
	<!-- 리스트 -->
	<select id="get_list" parameterType="map" resultType="roomDto">
		select * from room R
		left outer join reserve S 
		on R.room_no = S.reserve_room_no
		where
		R.hotel_no = #{hotel_no}
		and
		<![CDATA[
		R.room_people >= #{people} and
		(reserve_in >= to_date(#{check_out}, 'YYYY/MM/DD')
		or
		reserve_out <= to_date(#{check_in}, 'YYYY/MM/DD')
		or reserve_in is null or reserve_out is null)
		]]>
	</select>  
	
	<!-- 방사진 하나만 가져오는 방 리스트 -->
	<select id="list" parameterType="int" resultType="roomListVO">
		SELECT 
		    hotel_no, room_no, r_file_no, room_name, room_price, r_file_name, room_content
		FROM (
		    SELECT 
		        R.hotel_no, R.room_no, RF.r_file_no, R.room_name, R.room_price, RF.r_file_name, R.room_content, 
		        ROW_NUMBER() OVER(PARTITION BY R.room_no ORDER BY RF.r_file_no ASC) as rn
		    FROM 
		        room R inner join r_file RF on R.room_no = RF.room_no
		) WHERE rn=1 and hotel_no=#{hotel_no}
	</select>       
	
	<update id="edit" parameterType="roomDto">
		update room 
			set 
				room_name = #{room_name}, room_price = #{room_price}, room_content = #{room_content}, 
				room_people = #{room_people}, room_bed = #{room_bed}, room_breakfast = #{room_breakfast}, 
				room_spa = #{room_spa}, room_conditioner = #{room_conditioner}, room_tv = #{room_tv}, 
				room_refrigerator = #{room_refrigerator}, room_shower_room = #{room_shower_room}, 
				room_bath = #{room_bath}, room_hair = #{room_hair}, room_cookoo = #{room_cookoo}, 
				room_smoking = #{room_smoking}, room_cooking = #{room_cooking}
			where room_no = #{room_no}
	</update>
	
	<delete id="delete" parameterType="int">
		delete room where room_no = #{room_no}
	</delete>
		
<!-- 	예약 없는 방인지 확인 -->
	<select id="room_check" parameterType="payment_VO" resultType="int">
		select count(*) from room R
		left outer join reserve S 
		on R.room_no = S.reserve_room_no
		where
		R.hotel_no = #{reserve_hotel_no}
		and
		r.room_no = #{reserve_room_no}
		and
		<![CDATA[
		(reserve_in >= to_date(#{reserve_out}, 'YYYY/MM/DD')
		or
		reserve_out <= to_date(#{reserve_in}, 'YYYY/MM/DD')
		or reserve_in is null or reserve_out is null)
		]]>
	</select>
                                       
 </mapper>