<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	이 파일은 SQL 명령만 보관하는 파일
	따라서 외부에서 접근할 수 있도록 namespace를 지정
 -->
 
<mapper namespace="wish">
	<!-- 리스트 -->
	<select id="list" parameterType="int" resultType="wishListVO">
		select *
		from member M
		inner join wish W on
		M.member_no = w.wish_member_no
		inner join hotel H on
		W.wish_hotel_no = H.hotel_no
		where M.member_no = ${member_no}
	</select>	
	
	<insert id="regist" parameterType="int">
		insert into wish values(
		wish_seq, wish_member_no = #{member_no}, wish_hotel_no = #{hotel_no}, sysdate)
	</insert>
	
	<delete id="delete">
		delete from wish where wish_hotel_no = #{hotel_no}
	</delete>
	
</mapper>