.star-wrap{
    display: inline-block;
    width:100px;
    height:20px;
    overflow: hidden;
}
.star-wrap > .star-paint{
    width:0%;
    height:20px;
    background-color:#ffa700;
}
.star-wrap > img{
    position: absolute;
    width:100px;
    height:20px;
}